/app-config.xml
/com/
/db-01.properties
/db-mysql.properties
/db-oracle.properties
/db.properties
/ext.properties
/log4j.properties
/main.properties
/org/
/perf/
/spring/
/sqlmap/
/struts.xml
/struts2-config/
/test/
/workflow/
